 <ion-card>
  <ion-slides [options]="slideOptions">
    <ion-slide *ngFor="let day of week">
      <div [class.today]="day.today == 1" [class.selected]="day.selected == 1 " class="daySelectorItem" (click)="onDayClick(day.stamp)">
          <div>{{day.day}}</div>
          <div>{{day.date}}</div>
      </div>
    </ion-slide>
</ion-slides>
 </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size=3>
        <ion-grid id="time-table-left">
          <ion-row *ngFor="let time of dayTimeList">
            <ion-col>
              {{time}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size=9>
        <ion-grid id="time-table-right">
          <ion-row [ngStyle]="nowStyle" id="nowPointer"></ion-row>
          <ion-row *ngFor="let course of schedule" [ngStyle]="course.style" (click)="presentPopover(course)" [class.user_schedule]="course.type == 's'">
            <!--课表-->
            <ion-col size='3' class="schedule-col-time" *ngIf="course.type=='c'">
              {{course.start_time}}-{{course.end_time}}
            </ion-col>
            <ion-col size='3'*ngIf="course.type=='c'" >
              {{course.teacher}}
            </ion-col>
            <ion-col size='3' *ngIf="course.type=='c'">
              {{course.name}}
            </ion-col>
            <ion-col size='3' class="schedule-col-location" *ngIf="course.type=='c'">
              {{course.location}}
            </ion-col>
            <!--课表-->
            <!--日程-->
            <ion-col size='4' class="schedule-col-time" *ngIf="course.type=='s'">
              {{course.simple_time}}
            </ion-col>
            <ion-col size='4' *ngIf="course.type=='s'">
              {{course.title}}
            </ion-col>
            <ion-col size='4' class="schedule-col-location" *ngIf="course.type=='s'">
              {{course.location}}
            </ion-col>
            <!--日程-->
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
