<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      设置
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>开启自动设置</ion-label>
      <ion-toggle slot="end" disabled="{{!isAutoSettingEnabled}}" [(ngModel)]="setting.autoSetting" (ionChange)="autoSettingChange($event)"></ion-toggle>
    </ion-item>
  </ion-card>
  <ion-list *ngIf="setting.autoSetting">
    <ion-item>
      <ion-label>
        自动设置未开发。
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!setting.autoSetting">
    <ion-item>
      <ion-label position="stacked">原始课表信息</ion-label>
      <ion-textarea placeholder="可咨询开发者" name="rawCourseData" [(ngModel)]="setting.rawCourseData" rows="5" readonly="{{!iseditRawCourseData}}"></ion-textarea>
      <ion-button slot="end" color="dark" fill="clear" (click)="editRawCourseData()" *ngIf="!iseditRawCourseData"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button slot="end" color="dark" fill="clear" (click)="doneRawCourseData()" *ngIf="iseditRawCourseData"><ion-icon name="checkmark"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">学期开始日期</ion-label>
      <ion-input placeholder="如：2019-9-16" name="schoolStartDate" [(ngModel)]="setting.schoolStartDate" readonly="{{!iseditSchoolStartDate}}"></ion-input>
      <ion-button slot="end" color="dark" fill="clear" (click)="editSchoolStartDate()" *ngIf="!iseditSchoolStartDate"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button slot="end" color="dark" fill="clear" (click)="doneSchoolStartDate()" *ngIf="iseditSchoolStartDate"><ion-icon name="checkmark"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">学期总周数</ion-label>
      <ion-input placeholder="如：16" name="schoolTotalWeeks" [(ngModel)]="setting.schoolTotalWeeks" readonly="{{!iseditSchoolTotalWeeks}}"></ion-input>
      <ion-button slot="end" color="dark" fill="clear" (click)="editSchoolTotalWeeks()" *ngIf="!iseditSchoolTotalWeeks"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button slot="end" color="dark" fill="clear" (click)="doneSchoolTotalWeeks()" *ngIf="iseditSchoolTotalWeeks"><ion-icon name="checkmark"></ion-icon></ion-button>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label position="floating" >日历默认视图</ion-label>
      <ion-select value="daily" value="{{setting.defaultView}}" (ionChange)="dafaultViewChange($event)" okText="选择" cancelText="关闭">
        <ion-select-option value="daily">日视图</ion-select-option>
        <ion-select-option value="weekly">周视图</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label position="stacked" *ngIf="!isRecover">备份数据(直接复制即可)</ion-label>
      <ion-label position="stacked" *ngIf="isRecover">输入备份数据(请谨慎操作)</ion-label>
      <ion-textarea readonly="{{!isRecover}}" rows="5" [(ngModel)]="backupData"></ion-textarea>
      <ion-button slot="end" color="dark" fill="clear" (click)="recover()" *ngIf="!isRecover">恢复备份</ion-button>
      <ion-button slot="end" color="dark" fill="clear" (click)="doRecover()" *ngIf="isRecover">确认</ion-button>
      <ion-button slot="end" color="dark" fill="clear" (click)="cancelRecover()" *ngIf="isRecover">取消</ion-button>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item (click)="aboutMe()" detail>
      <ion-label>
        联系开发者
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
