<ion-header translucent>
    <ion-toolbar>
      <ion-title>管理分组</ion-title>
      <ion-buttons slot="end">
        <ion-button *ngIf="isReorderDisabled" (click)="toggleReorderGroup()">调整</ion-button>
        <ion-button *ngIf="!isReorderDisabled" (click)="toggleReorderGroup()">完成</ion-button>
        <ion-button (click)="dismissModal()"><ion-icon name="close"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
      <ion-card>
          <ion-list style="padding: 0px;" >
              <ion-item style="padding: 0px;">
                  <ion-input [(ngModel)]="newGroup" name="newGroup" placeholder="创建新的待办分组"></ion-input>
                  <ion-button slot="end" color="dark" fill="clear" (click)="addNewGroup()"><ion-icon name="add-circle"></ion-icon></ion-button>
              </ion-item>
          </ion-list>
      </ion-card>
      <ion-reorder-group (ionItemReorder)="reorder($event)" disabled="{{isReorderDisabled}}">
          <ion-item-sliding *ngFor="let group of groups;let i = index"> 
              <ion-item>
                <ion-label>{{group.name}}</ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
              <ion-item-options side="end" *ngIf="!group.type">
                <ion-item-option color="danger" (click)="deleteGroup(i)">删除</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
        </ion-reorder-group>
  </ion-content>